@import url('https://fonts.cdnfonts.com/css/louis-george-cafe');

:root {
    /* Color pallete */
    /* Background & card-background & input-background*/
    --ebony-clay-50: #f2f5fb;
    --ebony-clay-100: #e7ecf8;
    --ebony-clay-200: #d4dcf1;
    --ebony-clay-300: #b9c5e8;
    --ebony-clay-400: #9ca7dd;
    --ebony-clay-500: #838bd1;
    --ebony-clay-600: #6a6cc1;
    --ebony-clay-700: #5959a9;
    --ebony-clay-800: #4a4b89;
    --ebony-clay-900: #212238;

    /* Button & Side-line card */
    --cornflower-blue-50: #edeeff;
    --cornflower-blue-100: #dee1ff;
    --cornflower-blue-200: #c4c7ff;
    --cornflower-blue-300: #a0a3ff;
    --cornflower-blue-400: #7068ff;
    --cornflower-blue-500: #6f5bf9;
    --cornflower-blue-600: #613dee;
    --cornflower-blue-700: #542fd3;
    --cornflower-blue-800: #4429aa;
    --cornflower-blue-900: #3a2986;

    /* Button stroke*/
    --martinique-50: #f6f6f9;
    --martinique-100: #ececf2;
    --martinique-200: #d4d4e3;
    --martinique-300: #aeafcb;
    --martinique-400: #8283ae;
    --martinique-500: #636594;
    --martinique-600: #4e4f7b;
    --martinique-700: #404064;
    --martinique-800: #393956;
    --martinique-900: #323248;

    /* Input stroke*/
    --east-bay-50: #f3f4fb;
    --east-bay-100: #e4e6f5;
    --east-bay-200: #cfd3ee;
    --east-bay-300: #aeb7e2;
    --east-bay-400: #8791d3;
    --east-bay-500: #6a70c7;
    --east-bay-600: #5757b9;
    --east-bay-700: #514ca9;
    --east-bay-800: #49438a;
    --east-bay-900: #3f3c74;

    --outline-main: 1px solid var(--east-bay-400);
    --filter-main: brightness(1.2);
    --transition-main: all .5s;

    --ballcolor: #f2f2f2;
    --shadow: 0px 0 #ffffff00;
    --shadowcolor: #ffffff00;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Louis George Café', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: min(100vh, 150vh);
    font-size: 1.6rem;
    color: #ffffff;
    background: var(--ebony-clay-900);
}

/* @media (32rem <= width <=76.8rem) { */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1.6rem 1.6rem 9.6rem 1.6rem;
    gap: 7rem;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header span:nth-child(1) {
    font-size: 4rem;
}

.header span:nth-child(2) {
    font-size: 2rem;
}

/* New task card */
.container-section .container-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1.6rem;
}

.container-img-waiting-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4rem;
    position: relative;
    animation: fade-in .5s
}


.container-img-waiting-task .img-wait {
    opacity: 90%;
    z-index: 2;
}

.container-img-waiting-task .bg-blob {
    position: absolute;
    z-index: 1;
    bottom: 2rem;
    opacity: 80%;
}

.container-img-waiting-task .wait-message span {
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 80%;
}

.container-section .new-task-card {
    display: none;
    justify-content: flex-start;
    font-size: 1.2rem;
    width: 100%;
    min-height: 7rem;
    background: var(--ebony-clay-800);
    border-radius: .5rem;
    padding: .8rem;
    animation: fade-in .5s;
}

.container-section .new-task-card:hover {
    transform: scale(1.01);
    outline: var(--outline-main);
}

.new-task-card .container-side-line-task-content {
    display: flex;
    width: 80%;
}


.side-line-card {
    width: 0;
    min-height: 100%;
    border: 1px solid var(--cornflower-blue-500);
    margin-right: 1rem;
}

.container-task-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}

.container-task-content .task-date {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: .2rem .4rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    color: var(--ebony-clay-900);
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--cornflower-blue-200);
}

.container-task-content .task-title {
    width: fit-content;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: .15rem;
    position: relative;
}

.container-task-content .task-description {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 1.4rem;
}

.container-task-range {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.container-range-start,
.container-range-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-range-start label,
.container-range-end label {
    width: 100%;
    height: 20px;
    position: absolute;
    top: -14px;
    display: flex;
    justify-content: center;
    border-radius: .5rem .5rem 0rem 0rem;
    z-index: 1;
    background: var(--cornflower-blue-500);
    font-weight: bolder;
}

.container-task-range .task-range-start,
.container-task-range .task-range-end {
    width: fit-content;
    height: fit-content;
    padding: .2rem .7rem;
    border-radius: .5rem;
    color: var(--ebony-clay-900);
    font-weight: bolder;
    background: var(--cornflower-blue-200);
    z-index: 2;
}

.container-action-icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: .6rem;
}


/* checkbox */

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 1.6rem;
    font-size: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -.58rem;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: #eee;
}

.container-checkbox:hover input~.checkmark {
    background: #ccc;
}

.container-checkbox input:checked~.checkmark {
    background-color: #06d6a0;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked~.checkmark::after {
    display: block;
}

.container-checkbox .checkmark::after {
    left: .4rem;
    top: .12rem;
    width: .2rem;
    height: .6rem;
    border: solid #fff;
    border-left-color: .1rem;
    border-width: 0 .2rem .2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container-section .new-task-card .container-icon-xmark {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background: #e63946;
    cursor: pointer;
}


.container-section .new-task-card .container-icon-xmark i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-section .new-task-card .container-icon-xmark img {
    width: 1.2rem;
    height: 1.2rem;
}

/* ------------------------------------------------------------------- */

/* Button new task */

.button-new-task {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;

    width: 5rem;
    height: 5rem;

    border: none;
    border-radius: 50%;
    background-color: var(--cornflower-blue-400);

    cursor: pointer;
    transition: all .5s;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button-new-task .container-icon-plus img {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: .2rem;
}

.button-new-task:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
}

.button-clear-all-tasks {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;

    width: 5rem;
    height: 5rem;

    border: none;
    border-radius: 50%;
    background-color: var(--cornflower-blue-400);

    cursor: pointer;
    transition: all .5s;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button-clear-all-tasks .container-icon-trash img {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-clear-all-tasks:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
}

/* ------------------------------------------------------------------- */

/* Modal create new task */
.background-modal {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 80%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.container-modal-new-task {
    position: fixed;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    min-width: 70%;
    max-width: 80%;
    gap: 2rem;
    padding: 4rem 2.5rem;
    border-radius: 2rem;
    outline: var(--outline-main);
    background: var(--martinique-900);
    z-index: 4;
}

/* inputs */

.container-modal-new-task .input-task-title {
    color: #fff;
    background: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--east-bay-400);
    padding-bottom: .3rem;
}

.container-modal-new-task .container-textarea{
    width: 100%;
    height: 11rem;
    background: none;
    border: 1px solid var(--east-bay-400);
    border-radius: 7px;
    padding-left: .5rem;
}

.container-modal-new-task .input-task-description {
    width: 100%;
    height: 100%;
    padding: .5rem;
    resize: none;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    color: #fff;
    background: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.container-modal-new-task .input-task-description::-webkit-scrollbar {
  background-color: none;
  width: 10px;
}

.container-modal-new-task .input-task-description::-webkit-scrollbar-thumb {
  background-color: var(--east-bay-400);
  border-radius: 5px; /* Define o raio da borda do botão */
}

/* Define a borda da barra de rolagem */
.container-modal-new-task .input-task-description::-webkit-scrollbar-track {
  border:none;
}

/* Define o tamanho do botão quando a barra de rolagem é clicada */
.container-modal-new-task .input-task-description::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
  width: 20px; /* Largura do botão */
  height: 20px; /* Altura do botão */
}

.input-task-date {
    background: none;
    width: 100%;
    margin: 2rem 0;
    padding: .5rem 1rem;
    border: none;
    outline: var(--outline-main);
    border-radius: 7px;
    color: #fff;
}

.container-hour-range {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-bottom: 4rem;
}

.range {
    padding: .4rem .6rem;
    width: 100%;
    background: none;
    outline: var(--outline-main);
    border: none;
    border-radius: .5rem;

    color: #fff;
    font-weight: bold;
}

.container-buttons {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 1.5rem;
}

.button {
    width: 6rem;
    height: 2.8rem;
    padding: .4rem .6rem;
    border-radius: .7rem;
}

.button-cancel {
    background: none;
    color: var(--cornflower-blue-100);
    outline: var(--outline-main);
    border: none;
    cursor: pointer;
}

.button-cancel:hover {
    filter: var(--filter-main);
}

.button-add {
    color: #fff;
    background-color: var(--cornflower-blue-400);
    border: none;
    cursor: pointer;
}

.button-add:hover {
    filter: var(--filter-main);
}

/* Loader */

.wait-message {
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: flex-end;
}

.load {
    position: relative;
    right: 0;
    width: .2em;
    height: .2em;
    border-radius: 50%;
    margin-bottom: .3rem;
}

.progress {
    top: 50%;
    left: -80%;
    position: absolute;
    transform: translate(-50%, -50%);
    content: '';
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    animation: loading_492 2s ease infinite;
    animation-delay: 1s;
}

@keyframes loading_492 {
    0% {
        width: 0%;
        height: 0%;
    }

    50% {
        width: 99%;
        height: 99%;
    }

    100% {
        width: 0%;
        height: 0%;
    }
}

.progress:nth-child(2) {
    left: 50%;
    animation-delay: 1.3s;
}

.progress:nth-child(3) {
    left: 180%;
    animation-delay: 1.7s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (76.8rem < width <=90rem) {}

@media (90rem < width <=108rem) {}

@media (108rem < width <=144rem) {}